body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(
        to bottom, 
        #00C9D9,                       /* Top color */
        #104263                        /* Bottom color */
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    text-align: center;
}
.index-logo {
    padding-top: 150px;
}
.logo {
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}
button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 4px;
}
.Prisijungti {
    color: whitesmoke;
    background-color: #104263;
    background: linear-gradient(
        to bottom, 
        #0f5ee7,                       /* Top color */
        #092538                        /* Bottom color */
    );
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.Registruotis {
    color: whitesmoke;
    background-color: darkgreen;
    background: linear-gradient(
        to bottom, 
        #0d9749,                       /* Top color */
        #012602                        /* Bottom color */
    );
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.title {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #05395cb7;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.65);
}